p "A mind that is stretched by a new experience can never go back to its old dimensions." -Oliver Wendell Holmes

p This was the greatest adventure of the year and is the longest road trip I have ever been on. We traveled from Mount Hood, Mount Whitney, Golden Canyon, and ended with Wheeler Peak in Nevada. There could not have been better timing to push for winter ascents of these peaks with amazing success rates and wonderful conditions. I felt as though this was a new experience that made me feel like we were on the far edges of the Earth.