.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      if !index
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      a.navbar-brand(href='/') JMT Blogger
    if !index
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li(class=title=='Itinerary'?'active':undefined)
            a(href='/itinerary/#{infos.username}') Itinerary
          li(class=title=='Today'?'active':undefined)
            a(href="/day/#{infos.username}/1") Blog
