extends layout

block content
  #infos
    h1 Day #{infos.date} &mdash; #{infos.itinerary[infos.date-1]}
    .row
      .col-xs-6.blog
        include reports/1

      .col-xs-6
        img.img-responsive(src="/photos/2.jpg")
        p
        .distance
          p Today's distance: #.
          p Altitude gain: #.
          p Total distance: #.
        .weather
          i.fa.fa-sun-o  Sunny!
