extends layout

block content
  h1 Choose your itinerary to start autoblogging.
  p.lead
    form.form-horizontal(role='form', method='POST')
      .form-group
        label(for='sdate') Start Date
          input.form-control(type='date', name='sdate', id='sdate')
      .form-group
        label(for='edate') End Date
          input.form-control(type='date', name='edate', id='edate')
      .form-group
        label(for='northsouth') Choose Direction
          br
          input(type='radio', name='northsouth', value='ns')
          | North to South
          br
          input(type='radio', name='northsouth', value='sn')
          | South to North
      .form-group
          button.btn.btn-default(type='submit')
            i.fa.fa-mail-forward
            | Generate